<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do jogador UOL</title>
</head>
<style>
        label {
            display: block;
            margin-bottom: 8px;
        }
        input {
            width: 10%;
            padding: 8px;
            margin-bottom: 16px;
        }
        button {
            padding: 8px;
        }
    </style>
<body>

    <h1>Cadastro do jogador UOL</h1>

    <form id="meuFormulario" action="/" method="post">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="tel">Telefone:</label>
        <input type="tel" id="tel" name="tel">

        <label for="codename">Codename:</label>
        <input type="codename" id="codename" name="codename">

        <label for="group">Grupo:</label>
        <input type="group" id="group" name="group">

        <button type="submit">Cadastrar</button>
    </form>

</body>
</html>